.app-name{
    text-align:center;
    height:64px;
    line-height:64px;
    overflow: hidden;
}

.app-name h3{
    color: #ffffff;
}

.app-content .ant-card-body{
    padding: 15px !important;
}

.app-content .ant-card-body .data-table{
    margin-top: 15px;
}

.app-content .ant-card-body .filter-form .ant-input{
    height: 32px;
    line-height: unset;
}

.app-content .ant-card-body .filter-form .ant-calendar-picker{
    height: 32px;
}

.ant-menu-item-selected .nav-text a{
    color: #ffffff !important;
}

.nav-text{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-text a{
    display: inline-block;
    width: 92%;
    height: 100%;
}

/*fadeLoader*/
.spinner2 {
    width: 55px;
    height: 55px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-250%,-100%);
    -ms-transform: translate(-250%,-100%);
    transform: translate(-250%,-100%);
}


.container1 > div, .container2 > div, .container3 > div {
    width: 13px;
    height: 13px;
    background-color: #4368ec;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner2 .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}/*fadeLoader*/

input.warning-border{
    border:1px solid red
}

fieldset{
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #ccc;
}

legend {
    padding: .1em;
    border: 0;
    width: auto;
}

.seperate-line{
    display: inline-block;
    width:1px;
    height:20px;
    background: #cccccc;
    margin: 0 6px;
    vertical-align: middle;
}
/*字段显示选择样式*/

.clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 100%;
}

.form-error-text{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    color: #f5222d;
    width: 100%;
    min-width: 100px;
}

.required .ant-form-item-label label:before{
    content: '*';
    display: inline-block;
    font-size: 16px;
    color: #f5222d;
}

.table-form-edit .ant-input-number{
    width: 100%;
}